
*{  
    font-family: 'Poppins', sans-serif;
    background:lightgray;
}

p {
    background: rgba(255,84,104,0.3);
    border: 2px solid rgb(255,84,104);
    padding: 10px;
    margin: 20px;
    width: 600px;
}

.ammu {
    background: white;
    border: 1px solid black;
}

.Aman.Title {
    text-align:center;
    background-color: black;
    color:white;
    padding: 20px;
}


.outerbox {
    width: 450px;
    display:block;
    margin-left: 600px;
}

.divone {
    font-size:30px;
    font-weight:bolder;
    border: 4px solid white;
    background: skyblue;
}

.divtwo {
    font-size:20px;
    border: 4px solid white;
    background: skyblue;
}

.divthree {
    font-size:20px;
    border: 4px solid white;
    background: skyblue;
    text-align:center;
    padding:10px;
}

button {
    font-size: 20px;
    text-align:center;
    background:white;
    border:1px solid white;
}

.container {
    display: flex;
    gap: 8px;
    padding: 10px;
  }

  .container div {
    text-align: center;
    border: 4px solid black;
    margin-left: 100px;
    flex: 1;
  }

